<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Here is the MadLib for you</h1>

    <p>Today I went to the zoo. I saw a(n) @Model.Adjective1 @Model.Noun1 jumping up and down in its tree. </p>
    <p> He @Model.Adverb1, through the large tunnel that </p>
    <p>led to its @Model.Adjective2 </p>
    <p>@Model.Noun2. I got some peanuts and passed them through the cage to a gigantic </p>
    <p>gray @Model.Noun3 towering above my head. Feeding that animal made </p>
    <p>me hungry. I went to get a @Model.Adjective3 scoop of ice cream. It filled my stomach.</p>
    <p> Afterwards I had to @Model.VerbPT2 </p>
    <p> @Model.Adverb2  catch our bus. </p>
    <p>When I got home I @Model.VerbPT1 my mom </p>
    <p>for a @Model.Adjective4 day at the zoo. </p>
  </body>
</html>
